// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";
$font-stack: Della Respira, sans-serif;


// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

.bar {
  background-color: red;
}
.nav-link:hover {
    text-decoration: underline;
  }
.jumbotron {
  background: url(../img/pirate-ship.jpg);
  background-size: cover;
  max-width: 100%;
  height: auto; 
}

.pirate-face {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.body {
  font-size: 15px;
}

footer {
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;
}
.subhead {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
// Import partials here

.headline-one {
  font: 100% $font-stack;
}
.headline-two{
  font: 100% $font-stack;
  font-size: 35px;
  text-decoration: bold;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
